<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roofy</title>
    
    <!-- styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/seller_listings_styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <%- include('../include/seller-navbar'); %>
    <!-- insert other things here like jquery and shit -->
    <div class="container">
        <section class="ftco-section">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6 text-center mb-4">
                <h2 class="heading-section">Listings</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 text-center mb-2">
                <a href="/seller/listings/add" class="btn btn-secondary">Add Listing</a>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-wrap">
                  <table class="table myaccordion table-hover" id="accordion">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Address</th>
                        <th>Sale/Rent</th>
                        <th>Pricing</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- This loop each listing and show it in the table -->
                      <% 
                        var no = 1
                        data.data.forEach((listing) => { 
                        var tag = "collapse" + listing.listing_id
                      %>
                        <tr data-toggle="collapse" data-target="#<%= tag %>" aria-expanded="false" aria-controls="<%= tag %>" class="collapsed">
                          <th scope="row"> <%= no %></th>
                          <td> <%= listing.title %></td>
                          <td><%= listing.listing_address %></td>
                          <td><%= listing.sale_or_rent %></td>
                          <td>$<%= listing.pricing %></td>
                          <td><%= listing.property_type %></td>
                          <% 
                          var statusColor = "btn-danger"
                          var statusText = "Live"
                          var listingStatus = 0
                          if(listing.status == 1) {    
                            listingStatus = 1                  
                            statusColor = "btn-success"
                            statusText = (listing.sale_or_rent == "SALE") ? "Sold" : "Rented"
                            
                           } %>
                          <td>
                            <input type="hidden" value="<%= listingStatus %>" id= "status-value-<%= listing.listing_id %>"/>
                            <a onclick="event.stopPropagation();toggleStatus('<%= listing.listing_id %>', '<%= listing.sale_or_rent %>')"
                              class="btn <%= statusColor %>"
                              id= "status-<%= listing.listing_id %>"
                              style = "color: white;">
                              <%= statusText %>
                            </a>
                          </td>
                          <td>
                            <a href="/seller/listings/edit/<%= listing.listing_id %>" class="btn btn-secondary" onclick="event.stopPropagation();">Edit</a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="8" id="<%= tag %>" class="collapse acc" data-parent="#accordion">
                         
                            <div class="offset-md-3 col-md-6">
                              <div class="card h-100">
                                <div id="carousel_<%= listing.listing_id %>" class="carousel slide" data-bs-ride="carousel">
              
                                  <!-- <style> .carousel-item > img{width: 500px; height: 300px;}</style> -->
                    
                                  <div class="carousel-inner">
                                    <%
                                      let str = listing.image; 
                                      let image = "";
                                      if(str !== undefined) {
                                      while (str.indexOf(",") > 0) {
                                      image = str.slice(0, str.indexOf(","));
                                      str = str.slice(str.indexOf(",")+1);
                                      
                                    %>
                                    <div class="carousel-item">
                                      <img src="/images/listings/<%= image %>" class="card-img-top" onerror="this.onerror=null;this.src='/images/listings/default.png';">
                                    </div>
                                    <%
                                        }
                                      }
                                    %>
                                    <div class="carousel-item active">
                                      <img src="/images/listings/<%= str %>" class="card-img-top" onerror="this.onerror=null;this.src='/images/listings/default.png';">
                                    </div>
                                  </div>
                                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel_<%= listing.listing_id %>" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                  </button>
                                  <button class="carousel-control-next" type="button" data-bs-target="#carousel_<%= listing.listing_id %>" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                  </button>
                                </div>
                                  <div class="card-body">
                                      <h4 class="card-title"><%= listing.title %></h4>
                                      <p class="card-text"><%= listing.description %> </p>
                                  </div>
                                  <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                      <b><%= listing.rooms %> <%= listing.property_type %> for <%= listing.sale_or_rent === "RENT" ? "Rent" : "Sale" %></b><br>
                                      Address: <%= listing.listing_address %><br>
                                      Price: $<%= listing.pricing %> <%= listing.sale_or_rent === "RENT" ? "per month" : '' %>
                                    </li>
                                    
                                    <li class="list-group-item">
                                      <a href="/seller/listing/<%= listing.listing_id %>" onclick="event.stopPropagation();" class="btn btn-primary">Learn More</a>
                                    </li>
                                  </ul>
                                  <div class="card-footer">
                                    <small class="text-muted">posted on <%= listing.niceD8 %></small>
                                  </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      <% no = no + 1 %>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>

    <!-- javascript -->
    
    <script src="js/troll.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script>
        // todo change 3 to session data
        function toggleStatus(listing_id, sale_or_rent) {
          let id = "status-" + listing_id
          let valueID = "status-value-"+listing_id
          const status = parseInt(document.getElementById(valueID).value)
          let newStatus = (status + 1) % 2;
          var statusColor = "btn-danger"
          var statusText = "Live"
          if(newStatus == 1) {    
            statusColor = "btn-success"
            statusText = (sale_or_rent == "SALE") ? "Sold" : "Rented"
            document.getElementById(id).classList.replace("btn-danger", statusColor)  
          } else {
            document.getElementById(id).classList.replace("btn-success", statusColor)
          }
          document.getElementById(id).innerHTML = statusText
          document.getElementById(valueID).value = newStatus
          updateListingStatus(listing_id, newStatus)
        }

        async function updateListingStatus(listing_id, status) {
          console.log(listing_id, status)
            const data = {
              "listing_id": listing_id,
              "status": status
            }
            fetch('/api/listing/status', {
                method: "POST",
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(res => {
                
            })
        }
    </script>
  </body>
</html>
