<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roofy</title>
    
    <!-- styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/styles/seller_listings_styles.css" /> -->

  </head>
  <body>
    <%- include('../include/seller-navbar'); %>
    <!-- insert other things here like jquery and shit -->
    <div class="container">
        <section class="ftco-section">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6 text-center mb-4">
                <h2 class="heading-section">Listings</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 text-center mb-2">
                <a href="/seller/listings/add" class="btn btn-secondary">Add Listing</a>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-wrap">
                  <table class="table myaccordion table-hover" id="accordion">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Address</th>
                        <th>Sale/Rent</th>
                        <th>Pricing</th>
                        <th>Type</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- This loop each listing and show it in the table -->
                      <% 
                        var no = 1
                        data.data.forEach((listing) => { 
                        var tag = "collapse" + listing.listing_id
                      %>
                        <tr data-toggle="collapse" data-target="#<%= tag %>" aria-expanded="false" aria-controls="<%= tag %>" class="collapsed">
                          <th scope="row"> <%= no %></th>
                          <td><%= listing.listing_address %></td>
                          <td><%= listing.sale_or_rent %></td>
                          <td>$<%= listing.pricing %></td>
                          <td><%= listing.property_type %></td>
                          <td>
                            <a href="/seller/listings/edit/<%= listing.listing_id %>" class="btn btn-secondary">Edit</a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="6" id="<%= tag %>" class="collapse acc" data-parent="#accordion">
                            <p><%= listing.description %></p>
                            <%
                              let str = listing.image; 
                              let image = "";
                              while (str.indexOf(",") > 0) {
                                image = str.slice(0, str.indexOf(","));
                                str = str.slice(str.indexOf(",")+1);
                              }
                            %>
                            <img src="/images/listings/<%= str %>" class="card-img-top" alt="">
                                
                              
                              
                            
                          </td>
                        </tr>
                      <% no = no + 1 %>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>

    <!-- javascript -->
    
    <script src="js/troll.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/user.js"></script>
    <script src="js/bookmark.js"></script>
    <script>
        // todo change 3 to session data
    </script>
  </body>
</html>
